@page "/logout"
@using IAuthenticationService = ChatApp.UI.Services.AuthenticationService.Interfaces.IAuthenticationService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }
}
