@page "/grid"
@using ChatApp.Domain.Enums
@using ChatApp.Domain.DTOs.UserDto


@attribute [Authorize]


<div class="col-md-6 col-lg-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Search</RadzenText>
        <RadzenTextBox Placeholder="type..." @oninput=@(args => OnSearchChangeAsync(args.Value.ToString())) class="w-100" />
    </RadzenCard>

    <RadzenSelectBar Size="ButtonSize.Small" @bind-Value=@Sorting TValue="bool" class="mb-5" Change=@(async () => await OnSortChangeAsync())>
        <Items>
            <RadzenSelectBarItem Text="On" Value="true" />
            <RadzenSelectBarItem Text="Off" Value="false" />
        </Items>
    </RadzenSelectBar>
    <RadzenSelectBar Disabled="!Sorting" Size="ButtonSize.Small" @bind-Value=@Asc TValue="bool" class="mb-5" Change=@(async () => await OnSortChangeAsync())>
        <Items>
            <RadzenSelectBarItem Text="Ascending" Value="true" />
            <RadzenSelectBarItem Text="Descending" Value="false" />
        </Items>
    </RadzenSelectBar>
    <RadzenDropDown Placeholder="Sort Column" Disabled="!Sorting" @bind-Value=@SortFieldValue TValue="UserColumnsSorting" Data="@SortingFieldsDropDown" Change="async () => await OnSortChangeAsync()" />
</div>

<RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                Data="@Items" TItem="UserDto" ColumnWidth="150px">
    <Columns>
        <RadzenDataGridColumn TItem="UserDto" Property="Username" Title="Username"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserDto" Property="Email" Title="Email"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserDto" Property="PhoneNumber" Title="PhoneNumber"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserDto">
            <Template Context="user">
                @if (user.Id.ToString() != _userId)
                {
                    <RadzenButton Text="Call" ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat"
                                  Shade="Shade.Lighter" Icon="accessibility" class="m-1" Click="@(() => GoToCall(user))" />
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<RadzenPager HorizontalAlign="HorizontalAlign.Right" Count="Count" PageSize="5" PageNumbersCount="5" PageChanged="@PageChanged"/>
