@inherits LayoutComponentBase
@using ChatApp.UI.Pages
<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <LoginDisplay></LoginDisplay>
        </div>
        <article class="content px-4">
            <CascadingValue Value="SignalRService">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>


