<AuthorizeView>
    <Authorized>
        Welcome!
        <a href="/changepassword">Change password</a>
        <a href="/logout"> Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/signup">Register</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
