@page "/roomgrid"
@using ChatApp.Domain.Enums
@using ChatApp.Domain.DTOs.RoomDto

@attribute [Authorize]


<div class="col-md-6 col-lg-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Search</RadzenText>
        <RadzenTextBox Placeholder="type..." @oninput=@(args => OnSearchChangeAsync(args.Value.ToString())) class="w-100" />
    </RadzenCard>

    <RadzenSelectBar Size="ButtonSize.Small" @bind-Value=@Sorting TValue="bool" class="mb-5" Change=@(async () => await OnSortChangeAsync())>
        <Items>
            <RadzenSelectBarItem Text="On" Value="true" />
            <RadzenSelectBarItem Text="Off" Value="false" />
        </Items>
    </RadzenSelectBar>
    <RadzenSelectBar Disabled="!Sorting" Size="ButtonSize.Small" @bind-Value=@Asc TValue="bool" class="mb-5" Change=@(async () => await OnSortChangeAsync())>
        <Items>
            <RadzenSelectBarItem Text="Ascending" Value="true" />
            <RadzenSelectBarItem Text="Descending" Value="false" />
        </Items>
    </RadzenSelectBar>
    <RadzenDropDown Placeholder="Sort Column" Disabled="!Sorting" @bind-Value=@SortFieldValue TValue="RoomColumnsSorting" Data="@SortingFieldsDropDown" Change="async () => await OnSortChangeAsync()" />
</div>

<RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                Data="@Items" TItem="RoomDto" ColumnWidth="150px">
    <Columns>
        <RadzenDataGridColumn TItem="RoomDto" Property="Name" Title="Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="RoomDto" Property="ParticipantsNumber" Title="Participants Number"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="RoomDto" Property="MessagesNumber" Title="Messages Number"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<RadzenPager HorizontalAlign="HorizontalAlign.Right" Count="Count" PageSize="5" PageNumbersCount="5" PageChanged="@PageChanged" />